.home-page{
    background-color:aqua
}
body{font-family: 'Franklin Gothic Light';
}



.home-content-div{ 
    text-align: center;
}

.home-content-div p{
    font-size: small;
}

.navbar{
  background-color: #19fb00;  
  display: flex;
  justify-content:space-evenly;
  padding-top: 2%;
  padding: bottom 2%;
}

.navbar a{

 text-decoration: none;   
font-size: large;
}

.facts-page{
     background-color: aquamarine;
}